<link rel="stylesheet" href="/stylesheets/orderhistory.css">

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Customer Orders</h2>
        <hr>
        <div class="notify">
            <audio class="notify-audio" src="/audio/itemize.mp3" type="audio/mp3" />
        </div>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        {{# each orders }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>{{ this.purchase_date }}</h4>
                    <div class="info disable">
                        <p>Customer Name: {{ first_name }} {{ last_name }}</p>
                        <p>Address: {{address_line1}}, {{address_city}}, {{address_state}} {{address_zip}}</p>
                        <ul class="list-group">
                            {{# each this.items }}
                                <li class="list-group-item">
                                    <span class="badge">${{ this.price }}</span>
                                    {{ this.item.title }} | {{ this.qty }}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="panel-footer">
                    <strong>Total Price: ${{ this.cart.totalPrice }}</strong>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script type="text/javascript" src="{{__dirname}}/javascripts/orderhistory.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<script>
    const admin = io('/admin');   
    const $notify = $('.notify');
    const $audio = $('.notify-audio');
    let sound;
    //sound = setInterval(() => {
    //    $audio.trigger('play');
    //}, 1700);
    admin.on('notify show', (msg) => {
        sound = setInterval(() => {
            $audio.trigger('play');
        }, 1700);
        $notify.append(`<div class="alert alert-info" style="text-align: center"><h2>${msg}</h2></div>`);
    });  
</script>