<link rel="stylesheet" href="/stylesheets/shopping-cart.css">

{{# if products }}
    <div class="row">
        {{!-- <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3"> --}}
        <div class="col-md-8 col-md-offset-2">
            <div id="success" class="alert alert-success {{#if noMessages}}hidden{{/if}}">
            {{ successMsg }}
        </div>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
            <ul class="list-group">
                {{# each products }}
                    <li class="list-group-item">
                        <span class="badge">{{ this.qty }}</span>
                        <strong>{{ this.item.title }}</strong>
                        <div class="btn-group">
                            <button class="btn btn-success btn-xs">${{ this.price }}</button>
                            <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Remove <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/reduce/{{this.id}}">Reduce by 1</a></li>
                                <li><a href="/remove/{{this.id}}">Remove All</a></li>
                            </ul>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6 col-md-offset-2">
            <form action="/promo-code?_method=PUT" method="POST">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Promo</button>
                    <input style="max-width: 75px; display: inline-block" type="text" id="promo-code" class="form-control" name="promoCode">
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <strong>Total: ${{ totalPrice }}</strong>
            <br />
            {{#if isPromo }}
                <strong>Promo: - ${{ promoTotal }}</strong>
                <br />
                <strong>Total After Promo: ${{ afterPromoTotalPrice }}</strong>
                <br />
            {{/if}}
            <strong>Tax: ${{ tax }}</strong>
            <br />
            <strong>Total After Tax: ${{ totalAfterTax }}</strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p><span>*</span>An account is required to check out and only requires a user and password.</p>
            <a href="/checkout" role="button" class="btn btn-success">Checkout</a>
        </div>
    </div>
{{ else }}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>No Items in Cart</h2>
        </div>
    </div>
{{/if}}


